<!doctype html>
<html lang="en" ng-app="myApp">
	<head>
		<title>My First AngularJS App</title>
		<link rel="stylesheet" type="text/css" href="style/site.css">
	</head>
	<body ng-controller="FinanceController">
		<div id="container">
			<header>

			</header>
			<main>
				<label>salary </label> <input type="text" ng-model="salary"><br>
				<label>DGG </label> <input type="text" ng-model="percentage">
				<label>Result</label> {{ result() | currency}}
			</main>
			<footer>
				<script src="apps/source/angular.min.js"></script>
				<script src="apps/js/apps.js"></script>
				<script src="apps/js/controller.js"></script>
			</footer>
		</div>
	</body>
</html>